# Nim derleme çıktıları
nimcache/
*.exe
*.o
*.a
*.so
*.dll

# Nimble
.nimble/
nimble.lock

# Test binary'leri
tests/test_*
!tests/test_*.nim

# Geçici dosyalar
*.tmp
*.swp
.DS_Store

# Derlenmiş binary dosyalar (uzantısız)
src/nogine/dogrulama
src/nogine/tipler
src/nogine/yanit
src/nogine/yardimcilar

# HTML dokümantasyon çıktısı
src/nogine/htmldocs/
